/* Start Here */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    width: 600px;
    margin: 0 auto;
    background-color: #eee;
    padding: 1rem 5rem 5rem;
    border: 3px solid black;
    border-radius: 5px;
}

.quiz-container h1 {
    background-color: rgb(111, 21, 131);
    font-size: 4rem;
    text-align: center;
    color:#eee;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;
}

.quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header #progress {
    color: rgb(81, 82, 82);
    font-size: 30px;
    font-weight: 700;
}

.quiz-header #countdown {
    font-size: 1.6rem;
    font-weight: 700;
    background-color: rgb(142, 60, 162);
    padding: 5px;
    margin: 1px;
    color: white;
    border-radius: 3px;
}

.quiz-container #questions {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(166, 100, 181);
    border: 1px solid #777;
    border-width: 1px 0;
    padding: 5px 0;
}
p#questions {
    margin: 0;
}

.buttons {
    margin: 1.5rem 0 4rem 0;
}

.btn {
    text-align: left;
    background-color: rgba(69, 28, 108, 0.515);
    width: 100%;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(105, 78, 130);
    border-radius: 5px;
    margin: 7px 0;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(142, 60, 162);
    color: white;
}

.btn:active {
    cursor: pointer;
    background-color: rgb(23, 221, 201);
    color: rgb(94, 92, 92);
}

/* Quiz completed container */

#score {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.quiz-repeat {
    text-align: center;
    margin: 0 auto;
}

.quiz-repeat a {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 1rem;
    border-radius: 5px;
    transition: all .3s;
}

.quiz-repeat a:hover {
    background-color: orange;
}


